# ===============================
# DJANGO / PYTHON
# ===============================

.venv/
venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
*.sqlite3

.env

staticfiles/
media/

*.log

# ===============================
# NODE / FRONTEND
# ===============================

node_modules/
dist/
build/
.env.local
.env.development.local
.env.production.local

# ===============================
# IDE / SISTEMA
# ===============================

.vscode/
.idea/

.DS_Store
Thumbs.db